.topbar{
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    background-color: black;
    height: 100px;
    justify-content: space-between;

    .list{
        padding: 20px;

        .list-element{
            text-decoration: none;
            margin: 10px;
            color: red;
            transition: .5s;
            font-family: sans-serif;

            &:hover{
                color: whitesmoke;
            }
        }
    }

    .VFX{
        justify-content: space-around;
        margin: 20px;
        .heading{
            color: white;
            margin: 0px;
            font-family: sans-serif;
            font-weight: 200;
        }
        .text{
            color: rgb(185, 185, 185);
            font-size: 10px;
            margin: 0px;
            font-family: sans-serif;
            font-weight: 90;
            margin-left: 2px;
        }
    }
}

@media(max-width:650px){
    .topbar{
        .list{
            .list-element{
                font-size: 12px;
                margin: 5px;
            }
        }
        .VFX{
            .heading{
                font-size: 20px;
            }
            .text{
                font-size: 6px;
            }
        }
    }
}

@media(max-width:430px){
    .topbar{
        .list{
            .list-element{
                font-size: 9px;
                margin: 3px;
            }
        }
        .VFX{
            .heading{
                font-size: 15px;
            }
            .text{
                font-size: 4px;
            }
        }
    }
}